@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* Общие стили  */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}
.p {
  line-height: 1.8;
  font-size: 14px;
line-height: 179%;
color: #6a859c;

}

.hide{
  display: none !important;
}
.title-wrapper {
  margin-bottom: 60px;
}

.title {
  margin-bottom: 17px;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #676770;
}
.subtitle {
  font-size: 17px;
  line-height: 118%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #8e8e9c;
}
.common-section {
  text-align: center;
  padding: 80px 0;
}
.common-section--dark {
  background-color: #192024
}
.common-section--dark .subtitle {
  color: #E8E8E8
}
.common-section--dark *{
  color: #ffff
}


/* Header--------------------- */

.header {
  padding:  0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.34)
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.container {
}
.logo {
  font-size: 25px;
  text-transform: uppercase;

  color: #69b9ff;
}
.header__nav ul{
  display: flex;
 
}
.header__nav li + li{
  margin-left: 40px;
}

.header__nav a {
  color: #676770
  font-size: 16px;
  transition: color 0.3s ease;
}
.header__nav a:hover {
  color: #69b9ff;
}
.header__nav a:active {
  color: #0065BD;
}

/* Main-------------- */

.main {
}

/* Wellcome */
.wellcome {
  min-height: 600px;
  height: 100vh;
  padding: 195px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffff;
  background-color: #2D303C;
  background-image: url("img/wellcome-bg.jpg");
  background-size: cover;
  background-position: center;
}

.wellcome__heading {
  margin-bottom: 100px;
  font-size: 59px;
  line-height: 102%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-align: center;

}

.wellcome__links {

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}
.link-primary {
  padding: 12px 30px;

  font-size: 16px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: center;
  background-color: #69b9ff;
  border: 1px solid #69b9ff;

border-radius: 4px;

transition: background-color 0.2s ease;
}
.link-primary:hover {
  background-color: #7AC1FF
}
.link-primary:active {
  background-color: #1994FF
  /* border-color: #0065BD; */
}
.link {
  display : inline-block;
  padding: 13px 30px;

  font-size: 16px;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  border: 1px solid #69b9ff;
  border-radius: 4px;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}
.link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.5);
}
.link:active {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
}

/* About What We Do */
.about {
}

.about .cards-wrapper{
  display: flex;
 
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.cards-wrapper {
}
.about .card {
  padding: 35px 15px 20px ;
  max-width: 300px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  width: 300px;
}
.about .card img{
  margin-bottom: 20px;

  width: 94px;
  height: 94px;
  border-radius: 5px;
  object-fit: content;
  
}
.about .card h4{
  margin-bottom: 15px;

  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  color: #6A859C
}

/* Services---------------- */

.services {
}


.services .cards-wrapper {
  display: flex;
  justify-content: center;
 
  gap: 50px;
}
.services .card {
  width: 45%;
}
.services .card img {
  margin-bottom: 20px;
}
.services .card h4 {
  margin-bottom: 20px;

  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 7px;
  text-transform: uppercase;

}
.services .link {
  margin-top: 15px;
}


/* Tabs--------------- */


.tab-section {
}

.tabs {
}
.tabs__nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 50px;
}
.tabs__nav  button{
  padding: 0 30px;
  font-size: 16px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #fff;

  background-color: #92A0AD;
  border-radius: 4px;
}
.tabs__nav  button.active{
  background-color: #2E80B6

}
.active {
}
.tabs__item img{
  margin-bottom: 15px;
}

.tabs__item h4{
  margin-bottom: 15px;
  font-size: 31px;
  line-height: 116%;
  text-align: center;
  color: #676770;
}
.tabs__desc {
  max-width: 720px;
  margin-left: auto;
  margin:0  auto;
  color: #6A859C
}

/* Footer------------ */
.footer {
}
.footer__desc {
  padding: 35px 0;
}
.footer__descr-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
  gap: 20px 40px;
}
.footer__descr-container > * {
  width: 33.3%;
  min-width: 220px;
}
.footer__desc h4{

  margin-bottom: 25px;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: 0.22em;
  text-transform: uppercase;
  color: #676770;
}

/* .footer__links a {
  font-size: 13px;
  line-height: 154%;

} */
.footer__links  {
  font-size: 13px;
  line-height: 154%;
  color: #668cad;

}
.footer__social  {
  font-size: 13px;
  line-height: 154%;
  color: #668cad;

}

.footer__desc li{
  position: relative;
  height: 30px;
}
.footer__desc li::before{
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  right: 0;
  bottom:0;
   background-color: #D5D5E0
}
.footer__desc li + li{
 margin-top: 6px;
}
.footer__social li::before{
  width: calc(100% - 33.3px);
}

.footer__social img{
  margin-right: 10px;
}

.footer__social  img{
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.footer__copy {
  padding: 40px 0;
  background-color: #383838;
  font-size: 15px;
  line-height: 133%;
  text-align: center;
  color: #9e9e9e;
}
.footer__copy p{
/* color: #9e9e9e; */

}

/* Media--------------------- */

@media(max-width: 820px) {
  .footer__descr-container{
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
     align-items: center;
  }
  .footer__desc h4 {
    margin-bottom: 15px;
  }
  .footer__desc {
    padding-top: 0;
  }
}

@media(max-width: 660px){
  .tabs__nav  {
   flex-direction:  column; 
   align-items: center;
   margin-bottom: 30px;
  }
  .tabs__item  h4{
   font-size: 24px;
  }
  .tabs__nav button {
   max-width:  160px; 
   padding: 0 13px;
  }
}

@media(max-width: 600px){
  .services .cards-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .services .cards{
    width: 80%;
  }

  .title-wrapper {
    margin-bottom: 40px;
  }

}



@media (max-width: 400px){
  .header__nav li + li {
    margin-left: 15px;
  }
  .wellcome__heading {
  font-size: 40px;
  margin-bottom: 50px;
 }

 .wellcome__links {
  flex-direction: column;
 }
 .wellcome__links a{
  display: block;
margin:0 auto;
}
body {
  font-size: 12px;
}

.about .card h4{
  font-size: 16px;
}
  .services .card h4{
    font-size: 16px;
  }
  .services .card .link{
    font-size: 12px;
    
    padding: 10px 10px;
  }
}






